

.app-container {
	// text-align: center;
	// width: 100%;
	// padding: 25px;

	.app-bar-title {
		display: 'inline';
		margin: 10px;
	}

	.app-content {
		// text-align: center;
		margin-top: 50px;
		// padding: 10px;
	}

	.grid {

		.grid-left {
			display: inline-block;
			width: 69vw;
		}

		.grid-right {
			position: fixed;
			display: inline-block;
			right: 0px;
			width: 350px;
		}
	}
}

