

.scrolling-container {
	// This adds momentum to the scroll ( For flick scroll it will )
	-webkit-overflow-scrolling: touch;
	// This removes the scroll bar
	&::-webkit-scrollbar { display: none; }

	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;
  	height: 250px;
  	
  	.child { 
  		display: inline-block; 
  		padding: 10px;
  	}
}
